<div class="contenedor">


  <input type="text" placeholder="Introduce tu nombre" (input)="cargarNombre($event)" />
  <input type="text" placeholder="Introduce tu apellido" (input)="cargarApellido($event)" />
  <input type="text" placeholder="Introduce tu edad" (input)="cargarEdad($event)" />
  <hr>
  <h3 [class]="colorBackGround" [class.importante]="isImportant">Información</h3>
  <p><strong>Nombre: </strong>{{ getNombreCompleto() }}</p>
  <span><strong>Edad: </strong>{{ edad }}</span>

</div>

<hr>