<section>
    <ul>
        @for(estudiante of estudiantes; track estudiante.id; let i = $index; let par = $even; let impar = $odd) {
            <li class="estudiante" [class.par]="par" [class.impar]="impar">
                <span>{{i}}: </span>
                <span><strong>Nombre: </strong>{{estudiante.name}}</span>
                <span><strong>  --Edad: </strong>{{estudiante.age}}</span>
            </li>
        }@empty {
            <li class="estudiante par">NO HAY ESTUDIANTES</li>
        }
    </ul>
    <button (click)="insertarEstudiante()">insertar</button>
</section>
