<section>
    <div class="hero">
        <div class="text-center">
            <h1>Bienvenidos a nuestra empresa de Desarrollo Web</h1>
            <p>Ofrecemos nuestros servicios tanto en el Front como en el Back</p>
            <a [routerLink]="['/servicios-profesionales']" class="btn btn-secondary me-3">Nuestros servicios</a>
            <a [routerLink]="['/contacto']" class="btn btn-warning">Contacto</a>

            <form #suscribeForm="ngForm" (submit)="getSuscribe(suscribeForm)">
                <div class="d-flex mt-3 gap-2">
                    <input type="text" name="email" id="email" class="form-control" ngModel
                        placeholder="Introduce tu email para suscribirte">
                    <input type="submit" value="Suscribirse" class="btn btn-danger">
                </div>
            </form>

        </div>

    </div>
</section>