<section class="container mt-3">
    <h4>Formulario de registro de estudiantes</h4>
    <hr>
    <form [formGroup]="registerStudents" (ngSubmit)="getDataForm()" class="card shadow p-3">
        <div class="my-3">
            <label for="nombre" class="for-label">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="form-control"
                placeholder="Introduce el nombre del estudiante" formControlName="nombre">
        </div>

        <div class="my-3">
            <label for="edad" class="for-label">Edad</label>
            <input type="number" name="edad" id="edad" class="form-control"
                placeholder="Introduce la edad del estudiante" formControlName="edad">
        </div>

        <div class="my-3">
            <label for="email" class="for-label">Email</label>
            <input type="text" name="email" id="email" class="form-control"
                placeholder="Introduce el email del estudiante" formControlName="email">
        </div>

        <div class="my-3">
            <label for="curso" class="for-label">Curso</label>
            <select name="curso" id="curso" class="form-control" formControlName="curso">
                @for(curso of studentServices.getAllCourses(); track $index){
                <option [value]="curso.valor">{{curso.titulo}}</option>
                }
            </select>
        </div>

        <input type="submit" value="Enviar" class="btn btn-success mt-3" [disabled]="!registerStudents.valid">
    </form>
</section>