
<section>
    <ul>
        @for(noticiaActual of arrayNoticias; track noticiaActual.title; let i = $index; ) {
                <div class="card" style="width: 18rem;">
                <img [src]="noticiaActual.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{noticiaActual.title}}</h5>
                    <p class="card-text">{{noticiaActual.text}}</p>
                </div>
                </div>
        }@empty {
            <li class="estudiante par">NO HAY NOTICIAS</li>
        }
    </ul>
</section>