
<section class="container-mt-3">
    <h2>Formulario Nuevas NoticiasS</h2>
    <hr>
    <div>
        <form action="" class="shadow p-5" #misNoticias="ngForm" (ngSubmit)="getDataForm(misNoticias)">
            <div>
                <label for="title" class="form-label mt-3">Titulo</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Introduce el titulo"
                    ngModel>
            </div>

            <div>
                <label for="image" class="form-label mt-3">Immagen (URL)</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Introduce la url"
                    ngModel>
            </div>

            <div>
                <label for="text" class="form-label mt-3">Texto</label>
                <input type="text" class="form-control" id="text" name="text" placeholder="Introduce el texto" ngModel>
            </div>

            <div>
                <label for="fecha" class="form-label mt-3">Fecha</label>
                <input type="date" id="fecha" name="fecha" ngModel>
            </div>

            <input type="submit" value="Enviar" class="btn btn-danger mt-5">
        </form>

    </div>
</section>

<section>
    <hr>
    <div class="row justify-content-center row-cols-1 row-cols-md-2 g-4 d-flex ">
        @for(noticiaActual of arrayNoticias; track $index) {
        <div class="card">
            <img [src]="noticiaActual.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{noticiaActual.title}}</h5>
                <p class="card-text">{{noticiaActual.text}}</p>
                <p>{{noticiaActual.fecha | date: 'dd/MM/yyyy'}}</p>
            </div>
        </div>

        }@empty {
        <li class="estudiante par">NO HAY NOTICIAS</li>
        }
    </div>
</section>
