<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">FerroAtlántica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']">Ver  Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/formulario']">Nuevo Empleado</a>
                </li>

            </ul>
        </div>
    </div>
</nav>